.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}


.w-100 {
  width: 100%;
}

.card-div {
  display: flex;
  flex-direction: row
}

.featured-div {
  margin-top: 5%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center
}

.images-two-row {
  width: 40%;
  margin-left: 6%;
  border-radius: 15px;
}

.widget-button {
  height: 3.4285714286rem;
  line-height: 3.4285714286rem;
  padding: 0 2rem;
  border-radius: .7142857143rem;
  margin-top: 2.1428571429rem;
  font-weight: 600;
  background-color: transparent;
  border-color: #f8f9fa;
}

.widget-button:not(:disabled):not(.disabled).active {
  color: #212529;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.widget-button:hover {
  color: #4f5151;
  background-color: #f8f9fa;
  border-color: #f8f9fa;
}

.primary-color {
  color: #4f5151;
}

.vertical-line {
  border-left: 3px solid white;
  height: 80%
}

.vertical-box-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center
}

.customer-support-main {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center
}

.icons-width {
  width: 80px;
  height: 80px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer-links {
  background-color: #f1f1f1;
  padding: 3.2142857143rem 0;
  width: 100%;
  height: 500px;

}

.d-flex.flex-wrap.justify-content-center.social-section__list li {
  margin-right: 15px;
  list-style: none;
}

.footer-links .social-links-container {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.footer-links .social-links-container li {
  list-style: none;
  padding: 0;
}

.footer-links .social-links-container li ul {
  /* list-style: none; */
  padding: 0;
}


.footer-disclaimer {
  background-color: #4f5151;
  padding: 2rem 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-disclaimer .footer-disclaimer-child {
  width: 80%;
}

.navs-left {
  padding-left: 5%;
}

.footer-copyright {
  background: #000;
  color: #fff;
  width: 100%;
}

.footer-copyright .footer-copyright-child {

  margin-left: 10%;
}



.form-inline {
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -ms-flex-align: center;
  align-items: center;
  /*   display: -ms-flexbox; */
  display: flex;
  flex: 1;

  position: relative;
  left: 15%;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
  /* margin: 0 0 0 -80px; */
  margin-left: -8.5%;
  background-color: green;
  color: #fff;
  height: 40px;
}

input.mr-sm-2.form-control {
  min-width: 16.785714rem;
  height: 40px;
}

.white {
  color: white !important;
}

.border-0 {
  border-radius: 0px;
  height: calc(1.5em + .75rem + 2px);
}


.green {
  background-color: #729300 !important;
}